*  {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.korean {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    overflow: hidden;
    background-color: #FAFAFA;
}

/* side bar css */
.side_bar_icon {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#side_bar_left {
    width: 335px;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid #dddddd;
    padding: 24px 16px;
}

#side_bar_left > * {
    display: flex;
    padding: 12px;
    margin: 4px;
}

#side_bar_left > * {
    display: flex;
    column-gap: 16px;
}

#side_bar_left > *:not(:first-child):hover {
    background-color: #eeeeee;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

#side_bar_left > *:not(:first-child):hover > :last-child {
    font-weight: 600;
}

#logo_btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    cursor: pointer;
}

#logo_btn > *  {
    font-family: 'Homemade Apple', cursive;
    display: flex;
    align-items: center;
}

#logo_btn > :first-child {
    font-size: 30px;
}

#logo_btn > :last-child {
    font-size: 18px;
}

.side_bar_titles {
    font-size: 16px;
}

/* main css */
#index_main {
    width: 100%;
}

/* footer css */
#footer {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 32px 50px;
    row-gap: 50px;
}

#commend_title {
    font-size: 14px;
    color: #6D6D6D;
    font-weight: 600;
}

.commend_div {
    display: grid;
    grid-template-columns: 50px 180px 50px;
    column-gap: 10px;
}

#commend_list {
    display: flex;
    row-gap: 32px;
    flex-direction: column;
}

.commend_div_content {
    font-size: 12px;
    color: #737373;
}

.commend_detail_div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.link_go_btn {
    font-size: 12px;
    font-weight: 600;
    color: #0095F6;
    display: flex;
    align-items: center;
    justify-content: right;
}

.link_go_btn:hover {
    color:#004879;
}

.commend_div_title {
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.footer_info {
    color: #c2c2c2;
    font-size: 14px;
}

#footer_info_1 {
    line-height: 25px;
}

#footer_info_2 {
    line-height: 40px;
}